.wings1Icon {
  height: 110px;
  width: 109px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.wings {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 500;
  font-family: inherit;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.wings1Parent,
.wingsWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wingsWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-10xl) 0 0;
}
.wings1Parent {
  width: 232px;
  flex-direction: row;
  gap: var(--gap-12xs);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--small-text);
}
@media screen and (max-width: 2025px) {
  .wings {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
}
@media screen and (max-width: 450px) {
  .wings {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
}
